<div >
    <div >
        <h5  id="exampleModalLabel4">Contact Us</h5>
    </div>
    <div >
      <form id="nw" method="post">
          
            <!-- Name input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="name4">Name</label>
                <input type="text" id="name1" name="name" class="form-control" />
                
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="email4">Email address</label>
                <input type="email" id="email1" name="email" class="form-control" />
                
            </div>

            <!-- textarea input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="textarea4">Your message</label>
                <textarea id="message1" rows="4" name="message" class="form-control"></textarea>
               
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="checkbox4" checked />
                <label class="form-check-label" for="checkbox4">
                    Send me a copy of this message
                </label>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-primary"  >Send</button>
        </form>
    </div>
